html{
    height: 100%;
    margin: 0;
    /* font-family: Arial, sans-serif; */
    display: flex;
    flex-direction: column;
     
}
body {
    flex: 1;
    background-image: url('imagens/dog.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 225px;
    background-position-x: 900px;
    background-size: 720px;
}
header {
  background-image: url('imagens/logo.png');
  background-position: left;
  background-size: 390px;
  background-repeat: no-repeat;
  padding: 10px;
  font-size: 25px;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
}

#logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

#logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding-left: 230px; 
}

#logo a:hover {
  text-decoration: underline;
}

nav {
  margin-left: auto;
  font-family: roboto;
}

nav ul {
  list-style: none;
  font-size: 26px;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
.conteudo {
  text-align: left;
  padding: 40px;
}

.nao_compre {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 18px;
}

.adote {
  font-style: italic;
  margin-top: 10px;
  font-size: 28px;
}

.conteudo p {
  font-size: 19px;
  line-height: 1.5;
  
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

.quadradinho {
  background-color: #CD853F;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  width: 200px;
  height: 45px;
  text-transform: uppercase;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
  display: inline-block;
  line-height: 45px; 
  margin-top:20px;
  border-radius: 5px;
  text-decoration:none;
}

.quadradinho:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.quadradinho-grande {
  background-color: #CD853F;
  color: white;
  text-align: center;
  padding: 20px;
  width: 570px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); */
  margin-top: 100px;
}

.count {
  display: flex;
  align-items: center;
}

.count strong {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.count span {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
}

.dog {
  position: fixed;
  bottom: 0px;
  right: 130px;
  width: 520px;
  height: auto;
  z-index: 1000;
}

footer {
  width: 100%;
  color: white;
  font-family:verdana;
  padding-top: 120px;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: peru;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 05px 26px;
  height: 210px;
}

#footer_contacts h1 {
  margin-bottom: 12px;
  font-family:verdana;
}

#footer_social_media {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  transition: all 0.4s; 
  font-family:verdana;
}

#footer_social_media .footer-link i {
  font-size: 20px;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  font-family:verdana;
}

.footer-list .footer-link {
  color: white;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: black;
}

