<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Associação Abrigo Toda Vida Importa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="doacoes.css">
  <link rel="icon" href="imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div id="logo">
            <a href="{% url 'index' %}">Associação Abrigo Toda Vida Importa</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'doacoes' %}">Doações</a></li>
                <li><a href="{% url 'adocao' %}">Adoção Responsável</a></li>
                <li><a href="#">Loja</a></li>
            </ul>
        </nav>
    </header>
      <section>
        
        
        <div class="container">
          <div class="text-content">
            <h2>Doações diretas de rações, material de limpeza, medicamentos, material de construção utilizado para obra na construção do abrigo, além de mão de obra.</h2>
            <p>Aceitamos doações diretas de diversos itens essenciais para o funcionamento do nosso abrigo, como rações, material de limpeza, medicamentos, e materiais de construção. Além disso, contribuições de mão de obra especializada são extremamente valiosas para a manutenção e ampliação de nossas instalações. Cada doação, grande ou pequena, faz uma diferença significativa na vida dos animais que cuidamos.</p>
          </div>
          <div class="image-container"></div>
        </div>
         <br><br><br><br><br><br><br>
    <hr>
          <h2>Doações através de cartão de crédito, PicPay, transferência e Pix</h2>
            <p>Facilitamos as doações por meio de diversas plataformas financeiras, incluindo cartão de crédito, PicPay, transferência bancária e Pix. Essas opções oferecem conveniência e segurança para os doadores, permitindo que contribuam de maneira simples e rápida. Cada doação, independentemente do valor, é crucial para manter nossas operações e continuar salvando vidas.

                Cada uma dessas estratégias de arrecadação é vital para o funcionamento e crescimento da nossa ONG. Com seu apoio, podemos continuar fazendo a diferença na vida de inúmeros animais.</p>
            <a class="pix">
                Doe Agora!
                </a>
       

        <br><br><br><br><br><br><br>

    <hr>
          <h2>Venda de material promocional da ONG como camisas, canecas, canetas, roupinhas</h2>
            <p>Vendemos uma variedade de materiais promocionais, incluindo camisas, canecas, canetas e roupinhas para animais. Esses produtos não só ajudam a arrecadar fundos, mas também divulgam nossa missão, permitindo que apoiadores exibam seu comprometimento com a causa e incentivem outros a fazerem o mesmo.</p>
             <a href="#" class="Loja">
                  Saiba mais sobre a Loja!
              </a>
        <br><br><br><br><br><br><br>
    <hr>
          <div class='container2'>
            <div class="text-content">
          <h2 >Campanhas como rifas, bazar entre outros</h2>
              <p>Organizamos diversas campanhas ao longo do ano, como rifas e bazares, para arrecadar fundos adicionais. Essas atividades não só ajudam financeiramente, mas também promovem o engajamento da comunidade, aumentando a conscientização sobre a nossa causa e permitindo que mais pessoas contribuam de maneira ativa e divertida.</p>
            </div>
            <div class="image-container2"></div>
          </div>

        <hr>
          <h2>Produção e venda do calendário anual do Abrigo Toda Vida Importa, com fotos de artistas e celebridades com os animais do Abrigo</h2>
            <p>Um dos nossos produtos mais aguardados é o calendário anual, que apresenta fotos encantadoras de artistas e celebridades ao lado dos animais do abrigo. A venda desse calendário não só gera receita, mas também aumenta a visibilidade do abrigo e da causa animal, atraindo novos apoiadores e simpatizantes.</p>
             <a href="#eventos" class="Eventos">
              Saiba mais sobre os Eventos!
              </a>
          

            <br><br><br><br><br><br><br>
          <hr>

              <h2>Através de cotas de apoio e patrocínio</h2>
              <p>Nossa ONG conta com o valioso apoio de empresas e indivíduos que se comprometem a fornecer cotas de patrocínio. Essas cotas ajudam a garantir um financiamento contínuo e estável para nossas operações, permitindo-nos planejar e executar projetos de longo prazo com maior eficiência. Ao patrocinar nossa causa, os apoiadores não só contribuem para o bem-estar dos animais do abrigo, mas também associam suas marcas a uma causa nobre e de grande impacto social.</p>

            <br><br><br><br><br><br><br>
          <hr>

          <h2>Emenda parlamentar</h2>
          <p>As emendas parlamentares são uma fonte crucial de financiamento para nossa ONG. Deputados e senadores podem destinar parte de seu orçamento para apoiar nossas atividades, ajudando-nos a expandir e melhorar nossas instalações e serviços. Este apoio legislativo é fundamental para garantir que possamos atender um número maior de animais e oferecer cuidados cada vez mais especializados e humanizados.</p>

            <br><br><br><br><br><br><br>
      </section> 




  <footer>
    <div id="footer_content">
      <div id="footer_contacts">
        <h1>Mídias Sociais </h1>
        <p>Nossa redes de contato!</p>
        <div id="footer_social_media">
          <a href="https://www.instagram.com/abrigotodavidaimporta/" class="footer-link" id="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/tovidaimportaabrigo?locale=pt_BR" class="footer-link" id="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <ul class="footer-list">
        <li>
          <h1>Contato</h1>
        </li>
        <li>
          <a class="footer-link">Número: (21) 98308-7711</a>
        </li>
        <li>
          <a class="footer-link">E-mail: todavidaimportaabrigo@gmail.com</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li>
          <h1>Conta</h1>
        </li>
        <li>
          <a class="footer-link">Banco Bradesco Ag. 872-9</a>
        </li>
        <li>
          <a class="footer-link">Conta corrente. 20930-9</a>
        </li>
        <li>
          <a class="footer-link">CNPJ E PIX. 46.243.732/0001-03</a>
        </li>
      </ul>
    </div>
  </footer>


    
</body>
</html>