<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Associação Abrigo Toda Vida Importa</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
   <link rel="icon" href="imagens/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</head>

<body>
  <header>
    <div id="logo">
      <a href="index.html">Associação Abrigo Toda Vida Importa</a>
    </div>
    <nav>
      <ul>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="doacoes.html">Doações</a></li>
        <li><a href="adocao.html">Adoção Responsável</a></li>
        <li><a href="#loja">Loja</a></li>
      </ul>
    </nav>
  </header>
  <main class="conteudo">
        <div class="nao_compre">Não Compre,</div>
        <div class="adote">Adote!</div>
        <p>Ao escolher a adoção, estamos transformando a vida de um animal,<br> oferecendo-lhe um ambiente seguro e cheio de amor. Essa decisão não<br> apenas traz felicidade para o animal, mas também enriquece a vida da<br> família adotante, proporcionando companheirismo, alegria e um vínculo<br> inquebrável. Quando pensar em expandir sua família, lembre-se sempre:<br> <strong>Adote, não compre.</strong></p>
        <a href="#" class="quadradinho">Adote já!</a>
        <div class="quadradinho-grande">
            <div class="count">
                <strong>400+</strong> <span>Cachorros</span>
            </div>
            <div class="count">
                <strong>120+</strong> <span>Gatos</span>
            </div>
        </div>
    
    </main>
  <footer>
    <div id="footer_content">
      <div id="footer_contacts">
        <h1>Mídias Sociais </h1>
        <p>Nossa redes de contato!</p>
        <div id="footer_social_media">
          <a href="https://www.instagram.com/abrigotodavidaimporta/" class="footer-link" id="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/tovidaimportaabrigo?locale=pt_BR" class="footer-link" id="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <ul class="footer-list">
        <li>
          <h1>Contato</h1>
        </li>
        <li>
          <a class="footer-link">Número: (21) 98308-7711</a>
        </li>
        <li>
          <a class="footer-link">E-mail: todavidaimportaabrigo@gmail.com</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li>
          <h1>Conta</h1>
        </li>
        <li>
          <a class="footer-link">Banco Bradesco Ag. 872-9</a>
        </li>
        <li>
          <a class="footer-link">Conta corrente. 20930-9</a>
        </li>
        <li>
          <a class="footer-link">CNPJ E PIX. 46.243.732/0001-03</a>
        </li>
      </ul>
    </div>
  </footer>

  </body>

  </html>